body {
    padding-top: 70px;
}         
.mainHeader {
    @include position(absolute, 0, auto, auto, 0);
    width: 100%;
    z-index: 100;
    background: #fff;
    margin: 0;
    height: 70px;
    @include transition(all, .4s);
    
    .wrapper {
        height: 100%;
        position: relative;
        @include flex();
    }
    
        /*.................media.............*/
        @include m800 {
            @include position(fixed, 0, auto, auto, -100%);
            width: 260px !important;
            height: 100%;
            text-align: center;
            background-color: #fff;
            margin-top: 0;
            padding: 20px 0;
            z-index: 100;
             
            &.active { left: 0;}
            .wrapper {
                   @include flexDirection(column);
                   width: 100%;
            }
        }
        /*.............end media..............*/
        
        .mainHeader__info,
        .mainNav {
            width: 50%;
        }
        .mainHeader__info {
            text-align: right;
            color: $main;
            .mail {
                margin-left: 27px;
                color: $main;
                display: inline-block;
                vertical-align: middle;
            }
            .tel {
                margin-left: 30px;
                color: $main;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .logo {
            position: absolute;
            left: 0; right: 0;
            top: 10px;
            margin: auto;
        }
}

.social {
    display: inline-block;
    vertical-align: middle;
    &__item {
        background-image: url("../images/icons_sprite.png");
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
         filter: gray; /* IE6-9 */
          filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
          -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
        @include transition(all, .2s);
        &--fb {
            background-position: -5px -101px; width: 10px; height: 17px;
        }
        &--tw {
            background-position: -5px -65px; width: 17px; height: 13px;
        }
        &--inst {
            background-position: -5px -23px; width: 17px; height: 16px;
        }
        &:hover {
          filter: none;
          -webkit-filter: grayscale(0);
        }
    }
}

.searchInput {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
    text-align: left;
    .wrap {
        position: relative;
        height: 100%;
        width: 105px;
        margin-right: 30px;
        @include transition(all, .2s);
        &:hover,
        &.focus {
            width: 140px;
            margin-right: 5px;
            border-bottom: 1px solid $grey;
        }
    }
    input {
        background: none;
        border: none;
        color: #main;
        height: 20px;
    }
    input[type="submit"] {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -8px;
        background-image: url("../images/icons_sprite.png");
        background-repeat: no-repeat;
        background-position: -5px -0px; width: 18px; height: 18px;
        text-indent: -10000px;
        border: none;
        z-index: 1;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    input[type="search"] {
        width: 100%;      
        height: 100%;
        z-index: 1;
        transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
        cursor: text;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-right: 20px;
        box-sizing: border-box;
    }
}



/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    ul {
        li {
            display: inline-block;
            vertical-align: middle;
            a {
                display: inline-block;
                margin: 0 25px 0 0;
                font-size: 15px;
                text-decoration: none;
                text-transform: uppercase;
                color: $main;
                @include transition(all, .2s);    
                position: relative;
                padding: 10px 0;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 16px;
                    height: 4px;
                    background-color: $gold;
                    opacity: 0;
                    @include transition(all, .2s); 
                }         
                &:hover,
                &.active {
                    color: $gold;
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }

        /*.................media.............*/
        @include m800 { 
            display: block;
            height: 100%;
            overflow: scroll;
            position: relative;
            li a  {   
                margin: 0 0 25px 0;
                &.active {color: #ECCC1D;}
                &:hover  {background: transparent;}
            } 
        }
        /*.............end media.............*/
    }
}




/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 50px;
    height: 50px;
    @include position(fixed, 15px, 15px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: salmon;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 5px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 12px;  margin: auto;}
    .middle_line           {   top: 22px;  margin: auto;}
    .bottom_line           {   bottom: 12px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m800 {
            display: block;
        }
        /*..............end media.............*/

}
