.news {
    margin: 0px 0 210px;
    &__list {
        @include flex($wrap: wrap, $justify: flex-start);
        text-align: left;
        margin-top: 65px;

        @media ($phones) {
            display: block;
        }

        &__item {
            width: 310px;
            margin: 0 0 86px;

            @media (max-width: 1300px) {
                width: 33.333%;
                padding: 0 20px;
            }

            @media ($tablets) {
                width: 100%;
            }

            @media ($phones) {
                width: 350px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            @media (max-width: 400px) {
                width: 100%;
                padding: 0;
            }

            &:nth-of-type(3n + 2) {
                margin: 0 98px 86px;
                @media (max-width: 1300px) {
                    margin-left: 0;
                    margin-right: 0;
                }
                @media ($phones) {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            &__img {

                @media ($tablets) {
                    width: 300px;
                    display: inline-block;
                    margin-right: 50px;
                }

                @media ($phones) {
                    width: 100%;
                    display: block;
                    margin-right: 0px;
                }

                &:after {
                    width: 100%;
                    content: "";
                    display: block;
                    background-color: $gold;
                    height: 8px;
                    margin: 30px auto;

                    @media ($tablets) {
                        display: none;
                    }
                    @media ($phones) {
                        display: block;
                    }
                }
                img {
                    width: 100%;
                }
            }
            &__info {
                @media ($tablets) {
                    display: inline-block;
                    vertical-align: top;
                    width: -webkit-calc(100% - 360px);
                    width: calc(100% - 360px);
                }
                @media ($phones) {
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                }

                h3 {
                    color: $grey;
                    font-size: 22px;
                    margin-bottom: 15px;
                    position: relative;
                    padding-right: 12px;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        right: -6px;
                        top: 4px;
                        width: 18px;
                        height: 18px;
                        background-image: url("../images/arrow.png");
                        background-repeat: no-repeat;
                        -webkit-transform: rotate(-93deg);
                           -moz-transform: rotate(-93deg);
                            -ms-transform: rotate(-93deg);
                             -o-transform: rotate(-93deg);
                                transform: rotate(-93deg);
                    }
                }
                p {
                    font-size: 16px;
                    color: $main;
                }
            }
        }
    }
}