.offer {
    height: 580px;
    position: relative;
    background-image: url("../images/offer_main.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    .wrapper {
        height: 100%;
        @include flex($direction: column, $justify: center);
        p {
            color: #FFF;
            margin-bottom: 30px;
        }
    }
    .button {
        color: #FFF;
        margin-top: 40px;
    }
}

.mainPage {
    .offer {
        height: 800px;
        h1 {
            max-width: 650px;
            margin-top: 0;
            &:after {
                position: static;
            }
        }
    }
}
.aboutPage  {
    .offer {
        background-image: url("../images/offer_about.jpg");
    }
}

.carrerPage  {
    .offer {
        background-image: url("../images/offer_carrer.jpg");
    }
}

.specialistsPage {
    .offer {
        background-image: url("../images/offer_specialists.jpg");
    }
}

.blogPage {
    .offer {
        background-image: url("../images/offer_blog.jpg");
    }
}