.partners {
    &__slider {
            margin-top: 50px;
        &__slide {
            display: inline-block;
            text-align: center;
            img {
                max-width: 100%;
            }
        }
    }
    .slick-arrow {
        border-bottom: 4px solid $gold;
        border-left: 4px solid $gold;
        border-top: 4px solid transparent;
        border-right: 4px solid transparent;
        z-index: 10;
        &:before {
            display: none;
        }
        &.slick-prev {
            left: -75px;
            -webkit-transform: rotate(45deg);
               -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                 -o-transform: rotate(45deg);
                    transform: rotate(45deg);
        }
        &.slick-next {
            right: -75px;
            -webkit-transform: rotate(-135deg);
               -moz-transform: rotate(-135deg);
                -ms-transform: rotate(-135deg);
                 -o-transform: rotate(-135deg);
                    transform: rotate(-135deg);
        }
    }
}