.services {
    margin-bottom: 210px;
    &__list {
        margin-top: 60px;
        list-style-type: none;
        text-align: left;
        -moz-column-count: 2;
        -moz-column-gap: 180px;
        -webkit-column-count: 2;
        -webkit-column-gap: 180px;
        column-count: 2;
        column-gap: 180px;

        @media ($tablets) {
            -moz-column-count: 2;
            -moz-column-gap: 50px;
            -webkit-column-count: 2;
            -webkit-column-gap: 50px;
            column-count: 2;
            column-gap: 50px;
        }

        @media ($phones) {
            -moz-column-count: 1;
            -webkit-column-count: 1;
            column-count: 1;
        }
        li {
            margin-bottom: 70px;
            font: 22px $s;
            color: $main;
            span {
                display: inline-block;
                vertical-align: middle;
                width: calc(100% - 90px);
            }
            &:before {
                content: "";
                display: inline-block; vertical-align: middle;
                margin-right: 16px;
                background-position: -5px -160px; width: 67px; height: 59px;
                background-image: url("../images/services/services_sprite.png");
            }
            &:nth-of-type(2) {
                &:before { 
                    background-position: -5px -45px; width: 67px; height: 54px;
                }
            }
            &:nth-of-type(3) {
                &:before { 
                    background-position: -5px -286px; width: 67px; height: 51px;
                }
            }
            &:nth-of-type(4) {
                &:before { 
                   background-position: -5px -0px; width: 67px; height: 40px;
                }
            }
            &:nth-of-type(5) {
                &:before { 
                    background-position: -5px -342px; width: 67px; height: 42px;
                }
            }
            &:nth-of-type(6) {
                &:before { 
                    background-position: -5px -104px; width: 67px; height: 51px;
                }
            }
            &:nth-of-type(7) {
                &:before { 
                    background-position: -5px -224px; width: 67px; height: 57px; 
                }
            }
        }
    }
    .button {
        margin-top: 90px;
    }
}
