.specialistArtcile {
    @include flex($alignI : flex-start);   
    display: none;
    max-height: 0; 
    -webkit-transition: max-height .4s;
       -moz-transition: max-height .4s;
        -ms-transition: max-height .4s;
         -o-transition: max-height .4s;
            transition: max-height .4s;

    &.shown {
        display: flex;
        display: -webkit-flex;
        max-height: 2000px;

        @media ($phones) {
            display: block;
        }
    
    }
    &__img {
        width: 50%;

        @media ($tablets) {
            width: 40%;
        }

        @media ($phones) {
            width: 280px;
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
        }

        img {
            max-width: 100%;
            width: 100%;
        }
    }
    &__info {
        width: 50%;
        padding: 80px 0 0 80px;
        text-align: left;
        padding-top: 0;

        @media ($tablets) {
            width: 60%;
        }

        @media ($phones) {
            width: 100%;
            padding-left: 0;
            float: none;
        }

        &:before {
            content: "";
            display: block;
            margin-left: -20px;
            height: 8px;
            width: 95px;
            margin-bottom: 30px;
            background-color: $gold;
            color: #706f6f;

            @media ($tablets) {
                margin-left: 0;
            }
        }
        
        h2 {
            margin-bottom: 20px; 
            font-family: $sm;  
            font-size: 58px;
            text-align: left;
            text-transform: none;

            @media ($tablets) {
                font-size: 38px;
            }

            &:after {
                display: none;
            }
            color: $grey;
        }
        h3 {
            font-family: $s;
            font-size: 30px;
            margin-bottom: 50px; 
            color: $main;
            font-weight: normal;
        }
        p {
            line-height: 26px;
            margin-bottom: 30px;
        }
    }
}

.specialists__slider {
    width: calc(100% + 128px);
    margin-left: -64px;
    margin-bottom: 135px;

    @media ($tablets) {
        width: 100%;
        padding: 0 25px;
        margin-left: 0;

        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }
    }

    &__slide {
        width: 225px;
        padding: 0 15px;
        text-align: left;
        cursor: pointer;
        &__img {
            margin-bottom: 35px;
            img {
                width: 100%;
            }
        }
        h3 {
            font-family: $sm;
            font-size: 22px;
            color: $grey;
            margin-bottom: 18px;
        }
        span {
            font-size: 16px;
            color: $main;
        }
        &__info:after {
            content: "";
            display: block;
            height: 4px;
            margin-top: 15px;
            background-color: transparent;
            @include transition(all, .2s);
        }
        &:after {
            content: "";
            display: block;
            margin: 15px 0 0 0;
            width: 18px; height: 12px;
            background-image: url("../images/arrow.png");
            background-repeat: no-repeat;
            opacity: 0;
            @include transition(all, .2s);
        }
        &.active,
        &:hover {
            .specialists__slider__slide__info:after {
                background-color: $gold;
            }
            &:after {
                opacity: 1;
            }
        }
    }
}